:root {
	--tablet: 768px;
	--desktop: 1200px;

	--light-border-radius: 2px;
	--medium-border-radius: 4px;

	--main-outline: 2px solid var(--darker-orange);

	--btn-transition-speed: 80ms;

	--light-grey: #5e5e5e;
	--grey: #525252;
	--dark-grey: #444;
	--black: #1f1f1f;
	--darker-black: #111;
	--white: #ededed;
	--orange: #d89400;
	--darker-orange: #b47b00;
	--light-blue: #3093f0;
	--blue: #0f79dd;
	--red: #ff7a7a;
	--green: #1ebe36;
	--yellow: #ddbf12;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	min-width: 320px;
}

body {
	background-color: var(--dark-grey);
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	color: var(--white);
}

.project-name {
	margin: 4rem;
	font-weight: 400;
	font-size: 3rem;
	letter-spacing: 2px;
}

.calc-container {
	background-color: var(--black);
	border-radius: var(--light-border-radius);
	box-shadow: 0 0 4px var(--black);
	width: 100%;
	max-width: 500px;
}

.calc-title-box {
	padding: 2rem;
	width: 100%;
}

.calc-title {
	font-size: 2.4rem;
	font-weight: 400;
	letter-spacing: 1px;
	text-align: left;
	padding-bottom: 0.8rem;
	border-bottom: 1px solid var(--orange);
}

.calc-container__top {
	display: flex;
	justify-content: center;
}

.calc-switcher {
	background-color: var(--dark-grey);
	padding: 2rem;
	box-shadow: inset 0 0 8px 3px black;
	border-radius: var(--light-border-radius);
}

.calc-btn {
	width: 116px;
	margin: 0 0.8rem;
	padding: 1.2rem 0;
	text-align: center;
	color: var(--white);
	font-size: 2rem;
	border: none;
	border-radius: var(--light-border-radius);
	background-color: var(--darker-black);
	box-shadow: 1px 1px 2px var(--darker-black);
	cursor: pointer;
	transition: background-color var(----btn-transition-speed);
}

.calc-btn:focus-visible {
	outline: var(--main-outline);
}

.calc-btn:hover {
	background-color: var(--black);
	box-shadow: 1px 1px 4px var(--black);
}

.current-btn {
	background-color: var(--darker-orange);
	box-shadow: 1px 1px 2px var(--darker-orange);
}

.current-btn:hover {
	background-color: var(--orange);
	box-shadow: 1px 1px 4px var(--orange);
}

.calc-form-container__bmi,
.calc-form-container__calories {
	width: 90%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 3rem auto 4rem;
	font-size: 1.8rem;
}

.calc-form-box__bmi:first-child,
.calc-form-box__calories:first-child {
	align-self: flex-end;
	margin: 1rem 0;
}

.calc-form-box__bmi:nth-child(2),
.calc-form-box__bmi:nth-child(3),
.calc-form-box__calories:nth-child(3),
.calc-form-box__calories:nth-child(4),
.calc-form-box__calories:nth-child(5),
.calc-form-box__calories:nth-child(6) {
	width: 350px;
}

.unit-switcher-container {
	display: flex;
	gap: 1rem;
	font-size: 1.5rem;
}

.unit-switcher {
	--width: 40px;
	--height: calc(var(--width) / 2);
	--radius: calc(var(--height) / 2);

	display: inline-block;
	cursor: pointer;
}

.unit-switcher__inp {
	opacity: 0;
	position: absolute;
}

.unit-switcher__shape {
	position: relative;
	display: flex;
	align-items: center;
	width: var(--width);
	height: var(--height);
	border-radius: var(--radius);
	background-color: var(--white);
	box-shadow: inset 0 0 1px var(--darker-black);
}

.unit-switcher__inp:focus-visible + .unit-switcher__shape {
	outline: var(--main-outline);
}

.unit-switcher__shape::after {
	content: "";
	position: absolute;
	left: 2px;
	width: calc(var(--height) - 4px);
	height: calc(var(--height) - 4px);
	background-color: var(--orange);
	border-radius: 50%;
	box-shadow: 0 0 1px var(--orange);
	transition: transform 200ms ease-in-out;
}

.unit-switcher__inp:checked + .unit-switcher__shape::after {
	transform: translateX(var(--height));
	margin-right: 1px;
}

.input-container {
	width: max-content;
	display: flex;
	align-items: center;
}

.textbox {
	width: 180px;
	margin: 1rem;
	padding: 0.5rem;
	border: none;
	border-radius: var(--light-border-radius);
	background-color: var(--light-grey);

	color: var(--white);
	font-size: 2.4rem;
}

.textbox:focus-visible {
	outline: var(--main-outline);
	background-color: var(--dark-grey);
}

.form-buttons {
	margin: 3rem 0 0;
}

.reset-btn,
.calculate-btn {
	background-color: var(--blue);
	box-shadow: 1px 1px 3px var(--darker-black);
	border: none;
	color: var(--white);
	border-radius: var(--light-border-radius);
	padding: 1rem 0;
	margin: 1rem;
	width: 110px;
	font-size: 2rem;
	transition: var(--btn-transition-speed);
	cursor: pointer;
}

.reset-btn:hover,
.calculate-btn:hover {
	background-color: var(--light-blue);
}

.result {
	padding: 2rem 4rem;
	margin: 3rem 0 0;
	font-size: 2.5rem;
}

.gender-selector-box {
	background-color: var(--dark-grey);
	border-radius: 50px;
	height: 100%;
	display: flex;
	margin: 4rem auto;
	user-select: none;
}

.gender-radio {
	display: none;
	appearance: none;
}

.gender-styled-radio {
	display: inline-block;
	width: 120px;
	padding: 1.5rem 2rem;
	text-align: center;
	font-size: 1.8rem;
	background-color: var(--grey);
	box-shadow: inset 0 0 4px var(--black);
	cursor: pointer;
}

.gender-styled-radio:hover {
	background-color: var(--light-grey);
}

.gender-radio:checked ~ .gender-styled-radio {
	background-color: var(--blue);
}

.gender-radio:checked ~ .gender-styled-radio:hover {
	background-color: var(--light-blue);
}

.male-styled-radio {
	border-radius: 50px 0 0 50px;
}

.female-styled-radio {
	border-radius: 0 50px 50px 0;
}

.selector-input {
	width: 265px;
	font-size: 1.8rem;
	padding: 1rem;
	cursor: pointer;
	border-right: 10px solid transparent;
	box-shadow: none;
}

.hidden {
	display: none;
}

.dangerous {
	color: var(--red);
}

.warning {
	color: var(--yellow);
}

.excellent {
	color: var(--green);
}
